pre,
code {
  font-family: 'Roboto Slab', serif; }

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0); }
  40% {
    transform: translateY(-20px); }
  60% {
    transform: translateY(-10px); } }

@keyframes beat {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0); }
  40% {
    transform: translateY(-20px); }
  60% {
    transform: translateY(-10px); } }

pre,
code {
  font-family: 'Roboto Slab', serif; }

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0); }
  40% {
    transform: translateY(-20px); }
  60% {
    transform: translateY(-10px); } }

@keyframes beat {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0); }
  40% {
    transform: translateY(-20px); }
  60% {
    transform: translateY(-10px); } }

.menu-btn {
  position: fixed;
  z-index: 3;
  right: 26px;
  top: 26px;
  cursor: pointer;
  transition: all 1s ease-out; }
  .menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #fff;
    transition: all 1s ease-out; }
  .menu-btn.close {
    transform: rotate(180deg); }
    .menu-btn.close .btn-line:nth-child(1) {
      transform: rotate(45deg) translate(8px, 12px); }
    .menu-btn.close .btn-line:nth-child(2) {
      opacity: 0; }
    .menu-btn.close .btn-line:nth-child(3) {
      transform: rotate(-45deg) translate(0px, -2px); }

.menu {
  position: fixed;
  width: 100%;
  top: -16px;
  opacity: 1;
  visibility: hidden; }
  .menu.show {
    visibility: visible; }
  .menu-nav {
    display: flex;
    flex-flow: row wrap;
    align-items: left;
    justify-content: left;
    width: 100%;
    height: 5rem;
    overflow: hidden;
    border-bottom: #e6b450 3px solid; }
  .menu-nav {
    background: #0a0e14;
    list-style: none;
    transform: translate3d(0, -100%, 0);
    transition: all 1s ease-out; }
    .menu-nav.show {
      transform: translate3d(0, 0, 0); }
  .menu-branding {
    background: #0a0e14;
    transform: translate3d(0, 0, 0);
    transition: all 1s ease-out; }
    .menu-branding.show {
      transform: translate3d(0, 0, 0); }
    .menu-branding .portrait {
      width: 50px;
      height: 50px;
      background: url("../img/portrait.jpg");
      background-size: 50px;
      border-radius: 20%;
      border: solid 3px #e6b450;
      animation: bounce 2s infinite alternate;
      transform-origin: center; }
  .menu .nav-item {
    padding-left: 2rem;
    transform: translate3d(0, -100%, 0);
    transition: all 1s ease-out; }
    .menu .nav-item.show {
      transform: translate3d(0, 0, 0); }
    .menu .nav-item.current > a {
      color: #e6b450; }
    .menu .nav-item .fas {
      padding-left: 2rem;
      position: fixed;
      top: 2rem;
      left: -4px; }
  .menu .nav-link {
    display: inline-block;
    margin-top: 6px;
    position: relative;
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
    font-weight: 400;
    color: #fff;
    transition: all 1s ease-out; }
    .menu .nav-link:hover {
      color: #e6b450; }
  .menu-search {
    opacity: 0;
    display: inline-block;
    background: rgba(10, 14, 20, 0);
    height: 100vh;
    width: 90%;
    position: fixed;
    padding-left: 4rem;
    padding-top: 1rem; }
    .menu-search .hiddenSearch {
      display: none; }
    .menu-search input,
    .menu-search button {
      background: rgba(10, 14, 20, 0);
      border: none;
      outline: none;
      appearance: none;
      -webkit-appearance: nonoe;
      -moz-appearance: none;
      box-shadow: none; }
    .menu-search button {
      cursor: pointer; }
      .menu-search button .fas {
        color: white;
        font-size: 1.5rem; }
    .menu-search .form-search {
      position: relative;
      width: 100%; }
    .menu-search .input-search {
      width: 75%;
      font-size: 2rem;
      color: white;
      border-bottom: #e6b450 2px solid; }
      .menu-search .input-search::placeholder {
        color: white; }

.nav-tem:nth-child(1) {
  transition-delay: 0.1s; }

.nav-tem:nth-child(2) {
  transition-delay: 0.2s; }

.nav-tem:nth-child(3) {
  transition-delay: 0.3s; }

.nav-tem:nth-child(4) {
  transition-delay: 0.4s; }

* {
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
  transition: all 1s ease-out; }

.mobileShow {
  display: none; }

@media only screen and (max-device-width: 500px) {
  .mobileShow {
    display: inline; }
  .menu-search {
    display: none; } }

.fas {
  font-size: 1rem; }

html {
  height: 100%;
  background: url(/img/bg2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  html:after {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgba(10, 14, 20, 0.85); }

body {
  transition: opacity 2s;
  -webkit-transition: opacity 2s;
  color: #fff;
  height: 100%;
  line-break: 1.5; }

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400; }
  h1.lg-heading,
  h2.lg-heading,
  h3.lg-heading {
    font-size: 5rem;
    text-align: left;
    padding-left: 2rem;
    animation: heartBeat 2s infinite alternate;
    transform-origin: center; }
  h1.sm-heading,
  h2.sm-heading,
  h3.sm-heading {
    margin-top: 0.5rem;
    font-size: 1.5rem;
    text-align: left;
    padding: 0 2rem; }

a {
  color: #fff;
  text-decoration: none; }

header {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%; }

.text-secondary {
  color: #e6b450; }

main {
  padding: 2rem;
  height: 100%; }
  main .icons {
    padding: 2rem;
    text-align: left; }
    main .icons a {
      padding: 0.4rem; }
      main .icons a:hover {
        color: #e6b450;
        transition: all 1s ease-out; }
  main .bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
    margin-top: 3rem;
    text-align: center; }
    main .bounce a {
      padding: 0.4rem; }
      main .bounce a:hover {
        color: #e6b450; }
  main#home h1 {
    margin-top: 10vh; }

.about-info {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(8, 1fr);
  padding: 2rem 2rem; }

.bio-image {
  grid-column: 1;
  grid-row: 1;
  width: 150px;
  height: 150px;
  margin: 0;
  border-radius: 10%;
  border: #e6b450 3px solid; }

.details {
  grid-column: 2/8;
  grid-row: 6;
  padding: 0 0; }

.introduction {
  grid-column: 2 / 8;
  grid-row: 1;
  padding: 1rem 1rem; }

.bio {
  grid-column: 2 / 8;
  grid-row: 7;
  padding: 1rem 1rem;
  border-bottom: #e6b450 3px solid; }

.bio-info {
  grid-column: 2/8;
  grid-row: 8;
  padding: 0 1rem; }

.job1 {
  grid-column: 2 / 8;
  grid-row: 4; }

.job2 {
  grid-column: 2 / 8;
  grid-row: 2; }

.workExperience {
  grid-column: 2/8;
  grid-row: 5;
  padding: 0 1rem; }

.dev {
  padding: 0 1rem; }

.dev1 {
  grid-row: 3;
  grid-column: 2/4; }

.dev2 {
  grid-row: 3;
  grid-column: 4/6; }

.dev3 {
  grid-row: 3;
  grid-column: 6/8; }

.job3 {
  grid-column: 2 / 8;
  grid-row: 9; }

.statistics {
  grid-column: 2/8;
  grid-row: 10;
  padding: 0 1rem; }

.job {
  background: rgba(10, 14, 20, 0);
  padding: 1rem 1rem;
  margin-top: 1rem;
  border-bottom: #e6b450 3px solid; }
  .job:hover {
    border-bottom: #e6b450 3px solid;
    transition: all 1s ease-out; }

.job h3 {
  color: #e6b450;
  font-weight: bold; }

#home {
  margin: 0 0rem; }
  #home h1 {
    margin-top: 10vh; }
  #home h2 {
    margin-bottom: 1rem; }
  #home .projects {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem; }
    #home .projects img {
      width: 100%;
      height: auto;
      opacity: 1;
      border: rgba(10, 14, 20, 0.7) 3px solid;
      border-radius: 1%; }
      #home .projects img:hover {
        opacity: 1;
        border-color: rgab(#4e6d9c, 1);
        transition: all 1s ease-out; }
  #home .middle {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-150%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center; }
  #home .middle-text {
    color: white;
    font-size: 2rem;
    background: #0a0e14;
    padding: 1rem; }

#showcase:hover .focus {
  opacity: 0.5; }

.boxes {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  margin-top: 2rem;
  padding: 0 2rem; }
  .boxes div {
    font-size: 2rem;
    border: 2px #e6b450 solid;
    padding: 0.5rem 1rem;
    margin-bottom: 2rem;
    background: rgba(10, 14, 20, 0.4);
    transition: all 1s ease-out; }
    .boxes div:hover {
      background: #0a0e14; }

.btn, .btn-dark, .btn-light {
  display: block;
  width: 100%;
  padding: 1rem 1rem;
  border: 0;
  margin-bottom: 0rem;
  opacity: 0.85; }

.btn-dark {
  background: #0a0e14;
  border-bottom: 3px #e6b450 solid; }
  .btn-dark:hover {
    color: #e6b450; }

.btn-light {
  background: #0a0e14;
  border-bottom: 1px #131a25 solid;
  color: #fff; }
  .btn-light:hover {
    color: #e6b450; }

#main-footer {
  text-align: center;
  width: 100%;
  padding-top: 0.7rem;
  background: #111822;
  border-top: #161f2c 3px solid;
  color: white;
  height: 3rem;
  font-size: 16px;
  bottom: 0; }

@media screen and (min-width: 1171px) {
  .projects {
    grid-template-columns: repeat(4, 1fr); } }

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .projects {
    grid-template-columns: repeat(3, 1fr); } }

@media screen and (min-witdth: 501px) and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center; }
    main .lg-heading {
      line-height: 1;
      margin-bottom: 1rem; }
  ul.menu-nav {
    width: 100%; }
    ul.menu-nav.show {
      transform: translate3d(0, 0, 0); }
  .menu-nav {
    transform: translate3d(0, -100%, 0); }
  .about-info {
    margin-top: 0vh;
    grid-template-areas: 'bioimage' 'bio' 'job1' 'job2' 'job3';
    grid-template-columns: 1fr; }
  #showcase .projects {
    grid-template-columns: repeat(2, 1fr); } }

@media screen and (max-width: 500px) {
  main {
    padding: 2rem 1rem; }
    main .lg-heading {
      font-size: 2.5rem; }
    main .sm-heading {
      font-size: 1rem; }
  .menu {
    width: 320px;
    right: 0;
    opacity: 1; }
    .menu-nav {
      display: flex;
      flex-flow: column nowrap;
      justify-content: start;
      padding: 0 0;
      height: 100vh;
      transform: translate3d(100%, 0, 0);
      background: #161f2c; }
      .menu-nav.show {
        transform: translate3d(0, 0, 0); }
    .menu .nav-link {
      font-size: 1rem;
      font-weight: 600;
      padding: 0.5rem 0rem;
      padding-bottom: 1rem;
      color: #2c3e58; }
      .menu .nav-link:hover {
        color: #e6b450; }
    .menu .nav-item {
      padding-left: 0;
      text-align: center;
      color: #2c3e58;
      border-left: #2c3e58 3px solid;
      transform: translate3d(100%, 0, 0);
      transition: all 1s ease-out; }
      .menu .nav-item.current {
        border-left: #e6b450 3px solid;
        left: -3px;
        background: #111822; }
        .menu .nav-item.current .fas {
          color: #e6b450; }
      .menu .nav-item:hover {
        color: #e6b450;
        border-color: #e6b450; }
      .menu .nav-item.show {
        transform: translate3d(0, 0, 0); }
      .menu .nav-item .fas {
        position: fixed;
        padding-left: 0;
        left: 55px;
        top: 1rem; }
      .menu .nav-item:nth-child(2) .nav-link {
        left: -9px; }
      .menu .nav-item:nth-child(2) .fas {
        left: 58px; }
      .menu .nav-item:nth-child(3) .fas {
        left: 59px; }
      .menu .nav-item:nth-child(4) .fas {
        left: 56px; }
      .menu .nav-item:nth-child(5) .fas {
        left: 57px; }
    .menu .nav-item:hover {
      transform: translate3d(15%, 0, 0); }
    .menu .branding {
      background: #0d131b;
      display: flex;
      flex-flow: column nowrap; }
      .menu .branding .portrait-container {
        padding: 0 29%;
        padding-top: 2rem; }
        .menu .branding .portrait-container img {
          height: 140px;
          border: #1b2636 2px solid;
          border-radius: 50%; }
      .menu .branding .information {
        font-size: 13px;
        text-align: center;
        padding: 0 10%;
        padding-bottom: 1rem;
        color: #e6b450; }
        .menu .branding .information h3 {
          color: white;
          font-size: 1.6rem; }
  #home .about-info {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap; }
  #home .projects {
    display: flex;
    flex-flow: column nowrap; }
    #home .projects .item {
      padding-bottom: 2rem; } }

.boxes {
  padding: 0 2rem; }
  .boxes div {
    font-size: 1rem; }

#myBtn {
  display: block;
  opacity: 0;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 99;
  border: none;
  outline: none;
  background: none;
  color: white;
  cursor: pointer;
  font-size: 2rem;
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite; }
  #myBtn:hover {
    color: #e6b450; }
  #myBtn .fas {
    font-size: 2.5rem; }
