pre,
code {
  font-family: Hack, monospace; }

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0); }
  40% {
    transform: translateY(-20px); }
  60% {
    transform: translateY(-10px); } }

@keyframes beat {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0); }
  40% {
    transform: translateY(-20px); }
  60% {
    transform: translateY(-10px); } }

pre,
code {
  font-family: Hack, monospace; }

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0); }
  40% {
    transform: translateY(-20px); }
  60% {
    transform: translateY(-10px); } }

@keyframes beat {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0); }
  40% {
    transform: translateY(-20px); }
  60% {
    transform: translateY(-10px); } }

.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 1.5s ease-out; }
  .menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #fff;
    transition: all 1.5s ease-out; }
  .menu-btn.close {
    transform: rotate(180deg); }
    .menu-btn.close .btn-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px); }
    .menu-btn.close .btn-line:nth-child(2) {
      opacity: 0; }
    .menu-btn.close .btn-line:nth-child(3) {
      transform: rotate(-45deg) translate(7px, -6px); }

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden; }
  .menu.show {
    visibility: visible; }
  .menu-branding, .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden; }
  .menu-nav {
    margin: 0;
    padding: 0;
    background: #1b1b1b;
    list-style: none;
    transform: translate3d(0, -100%, 0);
    transition: all 1.5s ease-out; }
    .menu-nav.show {
      transform: translate3d(0, 0, 0); }
  .menu-branding {
    background: #282828;
    transform: translate3d(0, 100%, 0);
    transition: all 1.5s ease-out; }
    .menu-branding.show {
      transform: translate3d(0, 0, 0); }
    .menu-branding .portrait {
      width: 250px;
      height: 250px;
      background: url("../img/portrait.jpg");
      background-size: 250px;
      border-radius: 50%;
      border: solid 3px #b8bb26;
      animation: bounce 2s infinite alternate;
      transform-origin: center; }
  .menu .nav-item {
    transform: translate3d(600px, 0, 0);
    transition: all 1.5s ease-out; }
    .menu .nav-item.show {
      transform: translate3d(0, 0, 0); }
    .menu .nav-item.current > a {
      color: #b8bb26; }
  .menu .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    transition: all 1.5s ease-out; }
    .menu .nav-link:hover {
      color: #b8bb26; }

.nav-tem:nth-child(1) {
  transition-delay: 0.1s; }

.nav-tem:nth-child(2) {
  transition-delay: 0.2s; }

.nav-tem:nth-child(3) {
  transition-delay: 0.3s; }

.nav-tem:nth-child(4) {
  transition-delay: 0.4s; }

@media screen and (max-with: 768px) {
  main {
    align-items: center;
    text-align: center; }
    main .lg-heading {
      line-height: 1;
      margin-bottom: 1rem; }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0; }
    ul.menu-nav.show,
    div.menu-branding.show {
      transform: translate3d(0, 0, 0); }
  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px; }
  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0); }
    .menu-branding .portrait {
      background: url(../img/portrait.jpg);
      background-size: 150px;
      width: 150px;
      height: 150px;
      -moz-animation: heartBeat 2s infinite;
      -webkit-animation: bounce 2s infinite;
      animation: heartBeat 2s infinite; }
  .about-info {
    margin-top: 0vh;
    grid-template-areas: 'bioimage' 'bio' 'job1' 'job2' 'job3';
    grid-template-columns: 1fr; } }

@media screen and (max-with: 560px) {
  main {
    margin-top: 1vh; } }

* {
  box-sizing: border-box;
  transition: all 1.5s ease-out; }

body {
  opacity: 0;
  transition: opacity 2s;
  -webkit-transition: opacity 2s;
  background: #282828;
  color: #ebdbb2;
  height: 100%;
  margin: 0;
  font-family: Hack;
  line-break: 1.5; }
  body#bg-img {
    background: url(/img/background.jpg);
    background-attachment: fixed;
    background-size: cover; }
    body#bg-img:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: rgba(40, 40, 40, 0.85); }

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400; }
  h1.lg-heading,
  h2.lg-heading,
  h3.lg-heading {
    font-size: 4rem;
    text-align: left;
    animation: heartBeat 2s infinite alternate;
    transform-origin: center; }
  h1.sm-heading,
  h2.sm-heading,
  h3.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 0rem;
    text-align: left;
    background: rgba(45, 45, 45, 0.7); }

a {
  color: #ebdbb2;
  text-decoration: none; }

header {
  position: fixed;
  z-index: 2;
  width: 100%; }

.text-secondary {
  color: #b8bb26; }

main {
  padding: 4rem;
  height: 100%; }
  main .icons {
    margin-top: 1rem;
    text-align: left; }
    main .icons a {
      padding: 0.4rem; }
      main .icons a:hover {
        color: #b8bb26;
        transition: all 1.5s ease-out; }
  main .bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
    margin-top: 3rem;
    text-align: center; }
    main .bounce a {
      padding: 0.4rem; }
      main .bounce a:hover {
        color: #b8bb26; }
  main#home {
    overflow: hidden; }
    main#home h1 {
      margin-top: 20vh; }

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: 'bioimage bio bio' 'job1 job2 job3';
  grid-template-columns: repeat(3, 1fr); }

.bio-image {
  grid-area: bioimage;
  width: 150px;
  height: 150px;
  margin: auto;
  border-radius: 50%;
  border: #b8bb26 3px solid; }

.bio {
  grid-area: bio; }

.job-1 {
  grid-area: job1; }

.job-2 {
  grid-area: job2; }

.job-3 {
  grid-area: job3; }

.job {
  background: #353535;
  padding: 0.5rem;
  border-bottom: #b8bb26 5px solid; }

.job h3 {
  color: #b8bb26; }

#main-footer {
  text-align: center;
  padding: 1rem;
  background: #1b1b1b;
  color: #b8bb26;
  height: 60px;
  font-size: 16px; }

@media screen and (max-with: 768px) {
  main {
    align-items: center;
    text-align: center; }
    main .lg-heading {
      line-height: 1;
      margin-bottom: 1rem; }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0; }
    ul.menu-nav.show,
    div.menu-branding.show {
      transform: translate3d(0, 0, 0); }
  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px; }
  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0); }
    .menu-branding .portrait {
      background: url(../img/portrait.jpg);
      background-size: 150px;
      width: 150px;
      height: 150px;
      -moz-animation: heartBeat 2s infinite;
      -webkit-animation: bounce 2s infinite;
      animation: heartBeat 2s infinite; }
  .about-info {
    margin-top: 0vh;
    grid-template-areas: 'bioimage' 'bio' 'job1' 'job2' 'job3';
    grid-template-columns: 1fr; } }

@media screen and (max-with: 560px) {
  main {
    margin-top: 1vh; } }
