$primary-color: #0a0e14;
//$primary-color: #1F2430;
$secondary-color: #e6b450;
$primary-fg: #fff;
$show-home-image: true;
$home-image: url(/img/bg2.jpg);
$background-opacity: 0.85;

pre,
code {
  font-family: 'Roboto Slab', serif;
}

@mixin bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

@mixin beat {
  -moz-animation: heartBeat 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: heartBeat 2s infinite;
}

@keyframes beat {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

@mixin easeOut {
  transition: all 1s ease-out;
}

@mixin background {
  @if $show-home-image {
    &#bg-img {
      background-image: $home-image;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-attachment: fixed;
      background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      &:after {
        content: '';
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: rgba($primary-color, $background-opacity);
      }
    }
  }
}

//Smart Phones
@mixin mediaSmall {
  @media screen and (max-width: 500px) {
    @content;
  }
}
//Tablets
@mixin mediaMedium {
  @media screen and (max-width: 768px) {
    @content;
  }
}
//Laptops
@mixin mediaLarge {
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}
//Desktops
@mixin mediaXlarge {
  @media screen and (min-width: 1171px) {
    @content;
  }
}
