@import '_config';
// Menu Button
.menu-btn {
        position: fixed;
        z-index: 3;
        right: 26px;
        top: 26px;
        cursor: pointer;
        @include easeOut;

        .btn-line {
                width: 28px;
                height: 3px;
                margin: 0 0 5px 0;
                background: #fff;
                @include easeOut;
        }

        // Rotate Into X With Menu Lines
        &.close {
                transform: rotate(180deg);
                .btn-line {
                        // Line 1 - Rotate
                        &:nth-child(1) {
                                transform: rotate(45deg) translate(8px, 12px);
                        }
                        // Line 2 - Fade
                        &:nth-child(2) {
                                opacity: 0;
                        }
                        // Line 3 - Rotate
                        &:nth-child(3) {
                                transform: rotate(-45deg) translate(0px, -2px);
                        }
                }
        }
}

// Menu Overlay
.menu {
        position: fixed;
        width: 100%;
        top: -16px;
        opacity: 1;
        visibility: hidden;

        &.show {
                visibility: visible;
                
        }
        &-nav {
              display: flex;
              flex-flow: row wrap;
              align-items: left;
              justify-content: left;
              width: 100%;
              height: 5rem;
              overflow: hidden;
              border-bottom: $secondary-color 3px solid;
        }
        &-nav {
                background: $primary-color;
                list-style: none;
                transform: translate3d(0, -100%, 0);
                @include easeOut;
                &.show {
                        transform: translate3d(0,0,0);
                }
        }
        // Branding Slide
        &-branding {
                background: $primary-color;
                transform: translate3d(0, 0, 0);
                @include easeOut;
                &.show {
                       transform: translate3d(0,0,0);
                }
                .portrait {
                        width: 50px;
                        height: 50px;
                        background: url('../img/portrait.jpg');
                        background-size: 50px;
                        border-radius: 20%;
                        border: solid 3px $secondary-color;
                        animation: bounce 2s infinite alternate;
                        transform-origin: center;
                }
        }
        
        .nav-item {
                transform: translate3d(0, -100%, 0);
                @include easeOut;
                &.show {
                        transform: translate3d(0,0,0);
                }
                &.current > a {
                        color: $secondary-color;
                }
        }

        .nav-link {
                display: inline-block;
                margin-top: 6px;
                position: relative;
                font-size: 1.5rem;
                //text-transform: uppercase;
                padding: 1rem 1.5rem;
                font-weight: 400;
                color: #fff;
                //text-decoration: none;
                @include easeOut;
                &:hover {
                        color: $secondary-color;
                }
        }
}

// Delay each nav item slide by 0.1s
@for $x from 1 through 4 {
        .nav-tem:nth-child(#{$x}) {
        transition-delay: $x * 0.1s;
        }
}
