// Widescreens
@include mediaXlarge {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }
}

// Desktops & Laptops
@include mediaLarge {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}

// Tablets
@include mediaMedium {
  main {
    align-items: center;
    text-align: center;
    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
      //font-size: 2.5rem;
    }
  }
  ul.menu-nav {
    //float: none;
    width: 100%;
    //min-height: 0;
    &.show {
      transform: translate3d(0, 0, 0);
    }
  }
  .menu-nav {
    //height: 5rem;
    transform: translate3d(0, -100%, 0);
    //font-size: 10px;
  }

  .about-info {
    margin-top: 0vh;
    grid-template-areas:
      'bioimage'
      'bio'
      'job1'
      'job2'
      'job3';
    grid-template-columns: 1fr;
  }
  #showcase {
    .projects {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

// Phones
@include mediaSmall {
  main {
    padding: 2rem 1rem;
    .lg-heading {
      font-size: 2.5rem;
    }
    .sm-heading {
      font-size: 1rem;
    }
  }
  .menu {
    width: 320px;
    right: 0;
    opacity: 1;
    &-nav {
      display: flex;
      flex-flow: column nowrap;
      justify-content: start;
      padding: 0 0;
      height: 100vh;
      transform: translate3d(100%, 0, 0);
      background: lighten($primary-color, 7);
      &.show {
        transform: translate3d(0, 0, 0);
      }
    }
    .nav-link {
      font-size: 1rem;
      font-weight: 600;
      padding: 0.5rem 0rem;
      padding-bottom: 1rem;
      color: lighten($primary-color, 20);
      &:hover {
        color: $secondary-color;
      }
    }
    .nav-item {
      padding-left: 0;
      text-align: center;
      color: lighten($primary-color, 20);
      //border-bottom: lighten($primary-color, 20) 1px solid;
      border-left: lighten($primary-color, 20) 3px solid;
      &.current {
        border-left: $secondary-color 3px solid;
        left: -3px;
        background: lighten($primary-color, 4);
        .fas {
          color: $secondary-color;
        }
      }
      &:hover {
        color: $secondary-color;
        border-color: $secondary-color;
      }
      //transition
      transform: translate3d(100%, 0, 0);
      @include easeOut;
      &.show {
        transform: translate3d(0, 0, 0);
      }
      //pixel alignment
      .fas {
        position: fixed;
        padding-left: 0;
        left: 55px;
        top: 1rem;
      }
      &:nth-child(2) {
        .nav-link {
          left: -9px;
        }
        .fas {
          left: 58px;
        }
      }
      &:nth-child(3) {
        .fas {
          left: 59px;
        }
      }
      &:nth-child(4) {
        .fas {
          left: 56px;
        }
      }
      &:nth-child(5) {
        .fas {
          left: 57px;
        }
      }
    }
    .nav-item {
      &:hover {
        transform: translate3d(15%, 0, 0);
      }
    }

    .branding {
      background: lighten($primary-color, 2);
      display: flex;
      flex-flow: column nowrap;
      .portrait-container {
        padding: 0 29%;
        padding-top: 2rem;
        img {
          height: 140px;
          border: lighten($primary-color, 10) 2px solid;
          border-radius: 50%;
        }
      }
      .information {
        font-size: 13px;
        text-align: center;
        padding: 0 10%;
        padding-bottom: 1rem;
        color: $secondary-color;
        h3 {
          color: white;
          font-size: 1.6rem;
        }
      }
    }
  }
  #home {
    .about-info {
      display: flex;
      flex-flow: column;
      flex-wrap: wrap;
    }
    .job {
    }
  }
  #home {
          .projects {
                  display: flex;
                  flex-flow: column nowrap;
                  .item {
                          padding-bottom: 2rem;
                  }
          }
  }
}

.boxes {
  padding: 0 2rem;
  div {
    font-size: 1rem;
  }
}

#myBtn {
  display: block;
  opacity: 0;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 99;
  border: none;
  outline: none;
  background: none;
  color: white;
  cursor: pointer;
  font-size: 2rem;
  @include bounce;
  &:hover {
    color: $secondary-color;
  }
  .fas {
    font-size: 2.5rem;
  }
}
