@import 'config';
@import 'menu';

* {
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
  @include easeOut();
}

.mobileShow {
  display: none;
}

@media only screen and (max-device-width: 500px) {
  .mobileShow {
    display: inline;
  }
}

.fas {
  font-size: 1rem;
}

html {
  height: 100%;
  background: url(/img/bg2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  &:after {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgba($primary-color, $background-opacity);
  }
}

body {
  transition: opacity 2s;
  -webkit-transition: opacity 2s;
  color: $primary-fg;
  height: 100%;
  line-break: 1.5;
}

// Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 5rem;
    text-align: left;
    padding-left: 2rem;
    animation: heartBeat 2s infinite alternate;
    transform-origin: center;
  }

  &.sm-heading {
    margin-top: 0.5rem;
    font-size: 1.5rem;
    text-align: left;
    padding: 0 2rem;
    //background: rgba(lighten($primary-color, 4), 0.7);
  }
}

a {
  color: $primary-fg;
  text-decoration: none;
}

header {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 2rem;
  height: 100%;

  .icons {
    padding: 2rem;
    text-align: left;
    a {
      padding: 0.4rem;
      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }
  .bounce {
    @include bounce();
    margin-top: 3rem;
    text-align: center;
    a {
      padding: 0.4rem;
      &:hover {
        color: $secondary-color;
      }
    }
  }

  &#home {
    //overflow: hidden;
    h1 {
      margin-top: 10vh;
    }
  }
}

// About Page

.about-info {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  padding: 2rem 2rem;
}

.bio-image {
  grid-column: 1;
  grid-row: 1;
  width: 150px;
  height: 150px;
  margin: auto;
  border-radius: 10%;
  border: $secondary-color 3px solid;
}

.bio {
  grid-column: 1;
  grid-row: 2;
}

.job1 {
  grid-column: 2;
  grid-row: 1 / 3;
}
.job2 {
  grid-column: 3;
  grid-row: 1;
  text-align: center;
}
.job3 {
  grid-column: 3;
  grid-row: 2;
  text-align: center;
}

.job {
  background: rgba($primary-color, 0.4);
  padding: 0 1rem;
  padding-top: 0.5rem;
  border-bottom: rgba($primary-color, 0) 3px solid;
  &:hover {
    border-bottom: $secondary-color 3px solid;
    @include easeOut;
  }
  h3 {
        text-align: center;
  }
}

.job h3 {
  color: $secondary-color;
  font-weight: bold;
}

// Projects
#showcase {
  margin: 0 0rem;
  h1 {
    margin-top: 10vh;
  }
  h2 {
    margin-bottom: 1rem;
  }
  .projects {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem;
    img {
      width: 100%;
      height: auto;
      opacity: 1;
      border: rgba($primary-color, 0.7) 3px solid;
      border-radius: 1%;
      //border-radius: 2%;
      &:hover {
        opacity: 1;
        border-color: rgab(lighten($primary-color,40),1);
        @include easeOut;
      }
    }
  }
  .middle {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-150%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  .middle-text {
    color: white;
    font-size: 2rem;
    background: $primary-color;
    padding: 1rem;
  }
}

#showcase:hover .focus {
  opacity: 0.5;
}

// Contact
.boxes {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  margin-top: 2rem;
  padding: 0 2rem;
  div {
    font-size: 2rem;
    border: 2px $secondary-color solid;
    padding: 0.5rem 1rem;
    margin-bottom: 2rem;
    background: rgba($primary-color, 0.4);
    @include easeOut;
    &:hover {
      background: rgba($primary-color, 1);
    }
  }
}

// Button Styles
.btn {
  display: block;
  width: 100%;
  padding: 1rem 1rem;
  border: 0;
  margin-bottom: 0rem;
  opacity: 0.85;
}

.btn-dark {
  @extend .btn;
  background: $primary-color;
  border-bottom: 3px $secondary-color solid;
  &:hover {
    color: $secondary-color;
  }
}

.btn-light {
  @extend .btn;
  background: lighten($primary-color, 0);
  border-bottom: 1px lighten($primary-color, 5) solid;
  color: #fff;
  &:hover {
    color: $secondary-color;
  }
}

#main-footer {
  text-align: center;
  width: 100%;
  padding-top: 0.7rem;
  background: lighten($primary-color,4);
  border-top: lighten($primary-color, 7) 3px solid;
  color: white;
  height: 3rem;
  font-size: 16px;
  bottom: 0;
}

@import 'mobile';
